@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --body: #444950;
  --color-white: #fff;
  --paragraph: #939393;
  --main-brand-1: #75B3CB;
  --main-brand-1-pale: #CAF0FF;
  --main-brand-1-pale-2: #EBF9FF;
  --main-brand-2: #EFA693;
  --main-brand-2-pale: #FFDCD3;
  --main-brand-2-pale-2: #FFF6F3;
  --main-brand-3: #8FD0B9;
  --main-brand-4: #9594D2;
  --main-brand-5: #FFC658;
  --main-brand-6: #AAC6C9;
  --font-abhaya: "Abhaya Libre";
  --font-inter: "Inter";
}

body {
  font-family: var(--font-inter), sans-serif;
  overflow-x: hidden;
}

.botn {
  padding: 15.5px 20px;
  font-size: 14px;
  display: inline-block;
  font-weight: bold;
  text-align: center;
  border-radius: 35px;
  text-decoration: none;
  text-transform: uppercase;
}
.botn.primary {
  background-color: var(--main-brand-1);
  color: var(--color-white);
  transition: background 0.4s ease, color 0.2s ease;
}
.botn.primary:hover {
  background-color: var(--color-white);
  color: var(--main-brand-1);
}
.botn.primary.inverse {
  background-color: var(--color-white);
  color: var(--main-brand-1);
  transition: background 0.4s ease, color 0.2s ease;
}
.botn.primary.inverse:hover {
  background-color: var(--main-brand-1);
  color: #fff;
}
.botn.secondary {
  background-color: var(--main-brand-2);
  color: var(--color-white);
  transition: background 0.4s ease, color 0.2s ease;
}
.botn.secondary:hover {
  background-color: rgba(239, 166, 147, 0.2);
  color: var(--main-brand-2);
}
.botn.secondary.inverse {
  background-color: var(--color-white);
  color: var(--main-brand-2);
  transition: background 0.4s ease, color 0.2s ease;
}
.botn.secondary.inverse:hover {
  background-color: var(--main-brand-2);
  color: #fff;
}
.botn.small {
  font-size: 12px;
}

.alert {
  background-color: #e5e5e5;
  position: fixed;
  padding: 14px 26px;
  right: 5%;
  top: 0;
  z-index: 10;
  font-weight: 500;
  border-radius: 35px;
  animation-name: entryAnimation;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.alert.success {
  background-color: #67c341;
}
.alert.error {
  background-color: #ff6d6d;
}

@keyframes entryAnimation {
  from {
    top: 0;
  }
  to {
    top: 5%;
  }
}
main.main section.section .section__goto {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 66px;
}

main.main section.section.slide {
  padding: 42px 0;
}

main.main section.section.slide .splide {
  padding-top: 62px;
}

main.main section.section.slide .splide .splide__arrows {
  position: absolute;
  bottom: 100%;
  right: 230px;
  display: flex;
  gap: 42px;
}

main.main section.section.slide .splide .splide__arrows button.splide__arrow {
  background-color: transparent;
  position: relative;
  left: initial;
  right: initial;
  z-index: 1;
  top: 0;
  opacity: 1;
  width: 40px;
  height: 40px;
  transform: none;
}

main.main section.section.slide .splide .splide__arrows button.splide__arrow::before,
main.main section.section.slide .splide .splide__arrows button.splide__arrow::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  border-radius: 35px;
  transform: translate(-50%, -50%);
}

main.main section.section.slide .splide .splide__arrows button.splide__arrow::before {
  background-color: var(--main-brand-2-pale);
  z-index: -1;
  width: 70px;
  height: 24px;
}

main.main section.section.slide .splide .splide__arrows button.splide__arrow::after {
  background-color: var(--color-white);
  z-index: -1;
  width: 40px;
  height: 40px;
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.2509803922);
}

main.main section.section.slide .splide .splide__arrows button.splide__arrow svg {
  width: 8px;
  height: auto;
  transform: none;
}

main.main section.section h1.section__title {
  position: relative;
  font-family: var(--font-abhaya);
  color: var(--body);
  font-size: 44px;
  font-weight: bold;
  z-index: 1;
  line-height: 140%;
}

main.main section.section h1.section__title::before {
  background-color: var(--main-brand-1-pale);
  position: absolute;
  content: "";
  top: 30px;
  left: -26px;
  z-index: -1;
  width: 70px;
  height: 24px;
  border-radius: 35px;
}

main.main section.section .section__container {
  max-width: 1440px;
  margin: auto;
  padding: 0 20px;
}

main.main section.section .announcement__bar {
  background-color: var(--main-brand-2);
  text-align: center;
  padding: 7px 20px;
  font-family: var(--font-abhaya), sans-serif;
}

main.main section.section .announcement__bar span {
  color: var(--body);
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
}

main.main .splide.products {
  min-height: 520px;
}

main.main .products .product__card .card__image {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  padding-bottom: 320px;
}

main.main .products .product__card .card__image > img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  transform: scale(1.05);
}

main.main .products .splide__slide:nth-child(2n) .product__card .card__image {
  padding-bottom: 398px;
}

main.main .products .product__card .card__image .card__button {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 16px 11px;
}

main.main .products .product__card .card__image .card__button a {
  display: block;
}

main.main .products .product__card .card__image .card__button a img {
  width: 17px;
}

main.main .products .product__card .card__body {
  padding-top: 14px;
}

main.main .products .product__card .card__body h4 {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  color: var(--body);
  margin-bottom: 6px;
}

main.main .products .product__card .card__body .card__between {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

main.main .products .product__card .card__body .card__between .card__rate {
  display: flex;
  gap: 5px;
}

main.main .products .product__card .card__body .card__between .card__rate .rate__stars {
  display: flex;
}

main.main .products .product__card .card__body .card__between .card__rate .rate__stars .star {
  background-image: url("../images/icon-star.svg");
  display: block;
  width: 17px;
  height: 17px;
}

main.main .products .product__card .card__body .card__between .card__rate .rate__stars.one .star:nth-child(1) ~ .star,
main.main .products .product__card .card__body .card__between .card__rate .rate__stars.two .star:nth-child(2) ~ .star,
main.main .products .product__card .card__body .card__between .card__rate .rate__stars.three .star:nth-child(3) ~ .star,
main.main .products .product__card .card__body .card__between .card__rate .rate__stars.four .star:nth-child(4) ~ .star,
main.main .products .product__card .card__body .card__between .card__rate .rate__stars.five .star:nth-child(5) ~ .star {
  background-image: url("../images/icon-star-none.svg");
}

main.main .products .product__card .card__body .card__between .card__rate .rate__count {
  color: var(--paragraph);
  font-size: 14px;
}

main.main .products .product__card .card__body .card__between .card__price .price__tag {
  color: var(--body);
  font-size: 15px;
  font-weight: 500;
}

main.main .products .product__card .card__body .card__between .card__price .price__tag.discount {
  text-decoration: line-through;
  font-weight: 400;
  color: var(--paragraph);
}

main.main section.newsletter {
  background-image: url("../images/fondo-newsletter.svg");
  background-size: cover;
  background-position: top center;
  position: relative;
  min-height: 550px;
  padding-top: 200px;
  padding-bottom: 70px;
}

main.main section.newsletter h2 {
  font-family: var(--font-abhaya);
  color: var(--body);
  font-size: 44px;
  font-weight: bold;
  line-height: 140%;
  max-width: 700px;
  text-align: center;
  margin: auto;
  margin-bottom: 32px;
}

main.main section.newsletter p {
  color: var(--paragraph);
  font-size: 15px;
  margin: 0 auto;
  line-height: 180%;
  max-width: 450px;
  text-align: center;
}

main.main section.newsletter .newsletter__float {
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
}
main.main section.newsletter .newsletter__float.one {
  left: 80px;
}
main.main section.newsletter .newsletter__float.two {
  right: 80px;
}

main.main section.newsletter form.newsletter__form {
  padding-top: 30px;
}

main.main section.newsletter form.newsletter__form .form__group {
  display: flex;
  gap: 4px;
  justify-content: center;
}

main.main section.newsletter form.newsletter__form .form__group .group__element {
  width: 100%;
  max-width: 360px;
}

main.main section.newsletter form.newsletter__form .form__group .group__element + .group__element {
  width: 100%;
  max-width: 120px;
}

main.main section.newsletter form.newsletter__form .form__group .group__element input {
  color: var(--paragraph);
  padding: 14.5px 20px;
  outline: none;
  width: 100%;
  font-size: 15px;
  font-weight: 500;
  border-radius: 35px;
  border: 1px solid var(--main-brand-2);
}

main.main section.newsletter form.newsletter__form .form__group .group__element button {
  cursor: pointer;
  width: 100%;
  outline: none;
  border-radius: 35px;
  border: 1px solid var(--main-brand-2);
}

@media (max-width: 1366px) {
  main.main section.newsletter .newsletter__float.one {
    left: -20px;
  }
  main.main section.newsletter .newsletter__float.two {
    right: -20px;
  }
}
@media (max-width: 1024px) {
  main.main section.section h1.section__title {
    font-size: 28px;
  }
  main.main section.section h1.section__title::before {
    top: 18px;
    left: 0;
  }
  main.main section.section.slide .splide {
    padding-top: 120px;
  }
  main.main section.section.slide .splide .splide__arrows {
    left: 15px;
    top: 30px;
    bottom: initial;
    right: initial;
  }
  main.main section.section .section__goto {
    padding: 40px 0;
  }
  main.main section.newsletter {
    position: relative;
    z-index: 1;
  }
  main.main section.newsletter .newsletter__float {
    z-index: -1;
  }
  main.main section.newsletter .newsletter__float.one {
    top: 110px;
    left: 0;
  }
  main.main section.newsletter .newsletter__float.two {
    top: 150px;
    right: 0;
  }
  main.main section.newsletter .newsletter__float.one img {
    max-width: 200px;
  }
  main.main section.newsletter .newsletter__float.two img {
    max-width: 150px;
  }
  main.main section.newsletter h2 {
    font-size: 28px;
    max-width: 376px;
  }
  main.main section.newsletter p {
    max-width: 358px;
  }
  main.main section.newsletter form.newsletter__form .form__group {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  main.main section.newsletter form.newsletter__form .form__group .group__element {
    max-width: 100%;
  }
  main.main section.newsletter form.newsletter__form .form__group .group__element + .group__element {
    max-width: 200px;
  }
  main.main .products .splide__slide:nth-child(2n) .product__card .card__image {
    padding-bottom: 320px;
  }
}
@media (max-width: 768px) {
  main.main section.section.slide .splide .splide__track {
    padding-right: 100px !important;
  }
  main.main .products .product__card .card__body .card__between {
    flex-direction: column;
    gap: 8px;
  }
}/*# sourceMappingURL=base.css.map */